@charset "UTF-8";


  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


  /* Debugger styles - used to show the effect
  --------------------------------------------- */

  .debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 999;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
  }
  .debug-on .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
 }
  .debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
  font-family: "Courier New";
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
  
  }

   /* centre the content in the parallax layers */
  .title {
    text-align: left;
    /* position: absolute;
    left: 40%;
    top: 50%; */
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10%;
	font-family: "Courier New";
	
 /*   -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:white;*/
  }

.page-text {
	font-size: 24px; 
	font-weight: normal; 
	letter-spacing: -.5px; 
	max-width: 45%;
	line-height: 150%;
	color: white;
}

.page-title {

}

.page-image {
	float: right;
	margin-top: 10%;
	width: 26%;
	margin-right: 15%;

}

.page-image img {
	width: 100%;
	transform: rotate(7deg);
}

.idiom-image {
	width: 35%;

}

.idiom-image img {
	width: 100%;
}

  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
	font-size: 17vw;
    line-height: 75%;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
	  color: #0d8ea5;
  }
  #group1 .parallax__layer--base {
    background: #FBF2C9;
  }

  #group2 {
    z-index: 3;
	font-size: 9.5vw;
	font-weight: bold;
	letter-spacing: -1.30vw;
	color: #12203b;
	line-height: 10.75vw;
	/* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
	  background: #0d8ea5;
    
  }

.title .character-set:hover {
	color: #FBF2C9;
	
}


  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
		font-size: 80px;
	 line-height: 160%;
	 font-weight: bold;
	 text-align: left;
	 color: #0d8ea5;
	 letter-spacing: -3px;
  }
  #group3 .parallax__layer--base {
    background: #12203b;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
	 font-weight: bold;
	 text-align: left;
	 color: #FBF2C9;
	 letter-spacing: -3px;
  }
  #group4 .parallax__layer--deep {
    background: #12203b;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
	  	font-size: 80px;
	 line-height: 160%;
	 font-weight: bold;
	 text-align: left;
	 color: #0d8ea5;
	 letter-spacing: -3px;
  }
  #group5 .parallax__layer--base {
    background: #12203b;
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background: #0d8ea5;
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    background: #0d8ea5;
  }


  /* misc
  --------------------------------------------- */
  .demo__info {
    position: fixed;
    z-index:100;
    bottom: 3vh;
    top: auto;
    font-size: 15px;
    text-align:center;
    width: 100%;
	  color: #12203b;
  }


.table {
	display: table;
	width: 100%;
}

.table-cell {
	vertical-align: top;
	display: inline-block;
	width: 50%;
}

.table-cell img {
	width: 100%;
}

.type-specimen {
	font-size: 3vw; 
	color: #12203b;
	letter-spacing: -1px;
}

.br {
	display: none;
}

/*------------tall screen-----------*/

@media only screen and (min-height: 1020px) {
	

}
        

 @media only screen and (max-width: 1200px) {
	 
	    #group1 {
		font-size: 23vw;
		letter-spacing: -15px;   
	}
	 
	 .title {
		 margin-left: 10%;
		 margin-right: 10%;
	 }
	 
	 .type-specimen {
		 font-size: 4vw;
	 }
}
	 
        /*------------small screen-----------*/
       @media only screen and (max-width: 770px) {
		   #group1 {
		font-size: 25vw;
		letter-spacing: -15px;   
	}
		   .type-specimen {
			   font-size: 10vw;
			   line-height: 0;
		   }
		   
		   .type-specimen nbsp {
			   display: none;
		   }
		   
		   .nbsp {
			   display: none;
		   
		   }
		   
		   .br {
			   display: block;
		   }
		   
		   #group1 .title .type-specimen {
			   line-height: .1px;
		   }
		   
		   .page-title {
			   width: 100%;
		   }
		   
		   .page-text {
			   max-width: 100%;
		   }
		   
		   .page-image {
			   display: none;
		   }
		   
		   .sizing {
			   display: none;
		   }
		   
		   .table-cell {
			   width: 100%;
		   }
		   
        }

@media only screen and (min-height: 768px) and (max-height: 768px) and (min-height: 600px) and (min-height: 600px) {
	.page-text {
		font-size: 16px;
	}
	
	#group2 {
		line-height: 9vw!important;
	}
}

/*---------------mobile----------------*/
        @media only screen and (max-width: 460px)  {
			#group1 {
				font-size: 100px;
				letter-spacing: -5px;
			}
			
			 .type-specimen {
			   font-size: 13vw;
		   }
			.title {
				margin-left: 5%;
				margin-right: 5%;
			}
			
			.page-title {
				font-size: 70px;
			}
		
        }

/*------------- character set----------*/

@media only screen and (min-height: 1020px) {
		#group2 {
			line-height: 10vw!important;
			font-size: 10vw!important;
	}
}


@media only screen and (min-width: 1745px) {
	#group2 {
		line-height: 9.5vw;
	}
}

@media only screen and (max-width: 1600px) {
	#group2 {
		line-height: 11.5vw;
	}
	
	@media only screen and (max-width: 1500px) {
	#group2 {
		line-height: 12.5vw;
	}
		
		@media only screen and (max-width: 1350px) {
	#group2 {
		line-height: 13.5vw;
	}
			
				@media only screen and (max-width: 1200px) {
	#group2 {
		line-height: 14.5vw;
	}
					
		@media only screen and (max-width: 1100px) {
	#group2 {
		line-height: 16vw;
	}
			
			@media only screen and (max-width: 1000px) {
	#group2 {
		line-height: 17vw;
	}
				
	@media only screen and (max-width: 999px) {
	#group2 {
		line-height: 11vw;
		font-size: 120px;
	}
		#group2 .title {
			overflow-wrap: break-word;
		}
}
				
				@media only screen and (max-width: 800px) {
	#group2 {
		line-height: 12vw;
		font-size: 110px;
	}
				}
					
		@media only screen and (max-width: 700px) {
	#group2 {
		line-height: 14vw;
		font-size: 90px;
	}
				}
			
				@media only screen and (max-width: 560px) {
	#group2 {
		line-height: 15vw;
		font-size: 80px;
	}
				}
				
					@media only screen and (max-width: 460px) {
	#group2 {
		line-height: 16vw;
		font-size: 65px;
	}
				}
				
	

		

/*------------- end character set----------*/
        
      
